*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("../images/developer.png"),url("../images/header_bg.png"),#FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
}

nav .menu {
    display: flex;
    list-style:none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    font-size: 20;
    color:#474747;
    text-decoration: none;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding:18px 35px 19px 36px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

}

.color-ornge{color: #FD6E0A;

}
nav{
    width: 74%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin:0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#banner{
    /* border: 1px solid red; */
    margin: 47px 34px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width:628.18px ;

}



#banner .banner-content h2{
    font-size: 45px;
    font-weight:600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size:85px;
    font-weight: bold;
    color: #181818;
    margin-bottom:20px;
}


#banner .banner-content p {
    font-size:18px;
    color: #757575;
    line-height:30px;
    margin-top:25px ;
    margin-bottom: 34px;
}

#banner .banner-image img{
    max-width: 615.13px;
    vertical-align: middle;
}