*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

header{
    background-color: #FFF8F3;
    padding-top: 50px;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
}

nav .menu {
    display: flex;
    list-style:none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    font-size: 20;
    color:#474747;
    text-decoration: none;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding:18px 35px 19px 36px;
    color: white;
    font-size: 20px;
    font-weight: bold;

}

.color-ornge{color: #FD6E0A;

}
nav{
    width: 74%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin:0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}